<!-- Dashboard Navigation -->
<aside class="dashboard-nav">
  <ul>
    <a href="{% url 'dashboard' %}" class="{% if dashboard_active %} active {% endif %} custom-pointer"><li>Dasboard</li></a>
    <a href="{% url 'update_profile' %}" class="{% if user_profile_active %} active {% endif %} custom-pointer"><li>Profile</li></a>
    <a href="{% url 'user_orders' %}" class="{% if user_orders_active %} active {% endif %} custom-pointer"><li>Orders</li></a>
    <a href="" class="custom-pointer"><li>Profile</li></a>
    <a href="{% url 'signout' %}" class="custom-pointer"><li><i class="fa-solid fa-power-off"></i> Sign Out</li></a>
  </ul>
</aside>
