<!-- Dashboard Navigation -->
<aside class="dashboard-nav">
  <ul>
    <a href="{% url 'dashboard' %}" class="{% if dashboard_active %} active {% endif %} custom-pointer"><li>Dasboard</li></a>
    {% if request.user.is_admin %}
        <a href="{% url 'newsletter' %}" class="{% if newsletter_active %} active {% endif %} custom-pointer"><li>Newsletter</li></a>
    {% endif %}
    <a href="{% url 'update_profile' %}" class="{% if user_profile_active %} active {% endif %} custom-pointer"><li>Profile</li></a>
    <a href="{% url 'user_orders' %}" class="{% if user_orders_active %} active {% endif %} custom-pointer"><li>Orders</li></a>
    <a href="{% url 'password_change' %}" class="c{% if change_password_active %} active {% endif %} custom-pointer"><li>Change Password</li></a>
    <a href="{% url 'signout' %}" class="custom-pointer"><li><i class="fa-solid fa-power-off"></i> Sign Out</li></a>
  </ul>
</aside>
