{% extends 'base.html' %}
{% load static %}
{% block head_title %}Shop Cart{% endblock head_title %}

{% block content %}
<div class="wrapper">
    {% comment %} Conditional rendering {% endcomment %}
    {% comment %} Shows message if cart is empty {% endcomment %}
    {% if not cart_items %}
    <section class="center">
        <h2>Currently there are no items in your cart!</h2>
        <a href="{% url 'shop' %}" class="btn btn-more custom-pointer">SHOP</a>
    </section>
    {% comment %} If cart is not empty show products {% endcomment %}
    {% else %}
    <!-- Cart -->
    <div class="cart-wrapper">
        <section class="cart-list">
            <h3>Your Cart</h3>
            <table>
                <thead class="table-head">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% comment %} List all products in cart {% endcomment %}
                    {% for cart_item in cart_items %}
                    <tr>
                        <td>
                            <div class="product-order-cart">
                                <a href="{{ cart_item.product.get_absolute_url }}" aria-label="View details of {{ cart_item.product.product_name }}">
                                    <img src="{{ cart_item.product.image.url }}" width="55" class="custom-pointer" alt="{{ cart_item.product.product_name }} Product Image">
                                </a>
                                <div>
                                    <a href="{{ cart_item.product.get_absolute_url }}" class="custom-pointer" aria-label="View details of {{ cart_item.product.product_name }}">
                                        <strong>{{ cart_item.product.product_name }}</strong>
                                    </a>
                                    {% comment %} Render variations of products if exist {% endcomment %}
                                    {% if cart_item.variations.all %}
                                        <br>
                                        {% for item in cart_item.variations.all %}
                                            <small><strong>{{ item.category | capfirst }}</strong>: <span>{{ item.value | capfirst }}</span></small>
                                            <br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="counter">
                                <div class="counter-minus">
                                    <a href="{% url 'remove' cart_item.product.id cart_item.id %}" class="custom-pointer" aria-label="Decrease quantity by one"><i class="fa fa-minus"></i></a>
                                </div>
                                <input type="text" value="{{ cart_item.quantity }}">
                                <div class="counter-plus">
                                    <!-- Increment Form For Product Quantity -->
                                    <form action="{% url 'add' cart_item.product.id %}" method="POST">
                                        {% csrf_token %}
                                        {% for item in cart_item.variations.all %}
                                            <input type="hidden" name="{{ item.category }}" value="{{ item.value }}">
                                        {% endfor %}
                                        <button type="submit" class="custom-pointer" aria-label="Increase quantity by one"><i class="fa fa-plus"></i></a>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p><strong>€ {{ cart_item.subtotal }}</strong></p>
                            <small>€ {{ cart_item.product.price }} each</small>
                        </td>
                        <td>
                            <a href="{% url 'remove_item' cart_item.product.id cart_item.id %}" class="btn btn-remove custom-pointer" aria-label="Remove product from cart">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>
        <!-- Sidebar with price informations -->
        <aside class="checkout-wrapper">
            <dl class="cart-price">
                <dt class="cart-price-title">Total Price:</dt>
                <dd class="cart-price-sum"><strong>€ {{ price_without_tax }}</strong></dd>
            </dl>
            <dl class="cart-price">
                <dt class="cart-price-title">Tax:</dt>
                <dd class="cart-price-sum"><strong>€ {{ tax }}</strong></dd>
            </dl>
            <dl class="cart-price">
                <dt class="cart-price-title">Grand Total</dt>
                <dd class="cart-price-sum"><strong>€ {{ total }}</strong></dd>
            </dl>
            <hr class="break">
            <a href="{% url 'checkout' %}" class="btn btn-checkout custom-pointer" aria-label="Proceed to checkout">Checkout</a>
            <a href="{% url 'shop' %}" class="btn btn-continue custom-pointer" aria-label="Continue shopping">Shop</a>
        </aside>
    </div>
    {% endif %}
</div>
{% endblock content %}