{% extends 'base.html' %}
{% load static %}
{% block head_title %}Shop Cart{% endblock head_title %}

{% block content %}
<div class="wrapper">
    {% if not cart_items %}
    <div class="center">
        <h2>Currently there are no items in your cart!</h2>
        <a href="{% url 'shop' %}" class="btn btn-more">SHOP</a>
    </div>
    {% else %}
    <!-- Cart -->
    <div class="cart-wrapper">
        <section class="cart-list">
            <h3>Your Cart</h3>
            <table>
                <thead class="table-head">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% for cart_item in cart_items %}
                    <tr>
                        <td>
                            <div class="product-order-cart">
                                <a href="{{ cart_item.product.get_absolute_url }}">
                                    <img src="{{ cart_item.product.image.url }}" width="55" class="custom-pointer" alt="{{ cart_item.product.product_name }} Product Image">
                                </a>
                                <div>
                                    <a href="{{ cart_item.product.get_absolute_url }}" class="custom-pointer">
                                        <strong>{{ cart_item.product.product_name }}</strong>
                                    </a>
                                    <br>
                                    <small><strong>Size: </strong>: <span>42 cm</span></small>
                                    <br>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="counter">
                                <div class="counter-minus">
                                    <a href="" class="custom-pointer"><i class="fa fa-minus"></i></a>
                                </div>
                                <input type="text" value="{{ cart_item.quantity }}">
                                <div class="counter-plus">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="" value="">
                                        <button type="submit" class="custom-pointer"><i class="fa fa-plus"></i></a>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p><strong>€ {{ cart_item.subtotal }}</strong></p>
                            <small>€ {{ cart_item.product.price }} each</small>
                        </td>
                        <td>
                            <a href="" class="btn btn-remove custom-pointer">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>
        <aside class="checkout-wrapper">
            <dl class="cart-price">
                <dt class="cart-price-title">Total Price:</dt>
                <dd class="cart-price-sum"><strong>€ {{price_without_tax}}</strong></dd>
            </dl>
            <dl class="cart-price">
                <dt class="cart-price-title">Tax:</dt>
                <dd class="cart-price-sum"><strong>€ {{ tax }}</strong></dd>
            </dl>
            <dl class="cart-price">
                <dt class="cart-price-title">Grand Total</dt>
                <dd class="cart-price-sum"><strong>€ {{ total }}</strong></dd>
            </dl>
            <hr class="break">
            <a href="" class="btn btn-checkout custom-pointer">Checkout</a>
            <a href="{% url 'shop' %}" class="btn btn-continue custom-pointer">Shop</a>
        </aside>
    </div>
    {% endif %}
</div>
{% endblock content %}