{% extends 'base.html' %}
{% load static %}
{% block head_title %}Home Page{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <section class="introduction-wrapper">
        <h2>Welcome to Sun&Peaches!</h2>
        <p>Sun&Peaches is a brand of fashion jewelry with a unique design and eternal spirit.</p>
        <p>Full of colours, mermaids and stars, allows dreamy combinations for individuals seeking freedom in expression.</p>
        <p>Arnau Araya created Sun&Peaches in 2019 out of a need to make her creativity alive and express passion for colourful and attention - grabbing jewelry.</p>
        <p>Each piece is handmade in Barcelona, in the workshop located in Carrer dels Mirallers.</p>
    </section>
    <section class="swiper-main-wrapper">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>    
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev custom-pointer"></div>
            <div class="swiper-button-next custom-pointer"></div>
        </div>
    </section>
</div>
<div class="subscription-wrapper">
    <section class="subscription-inner-wrapper">
        <h2>Subscribe to our Newsletter</h2>
        <p>Subscribe to our newsletter for a sunshine-filled dose of exclusive deals and sparkling new arrivals from Sun & Peaches Jewelry.</p>
        <p>Be the first to shine with our latest designs and special offers. Join our community today!</p>
        <br>
        <br>
        <form action="{% url 'subscribe' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <input type="text" id="name" name="full_name" placeholder="Full Name *" required>
                <input type="email" name="email" placeholder="Email Address *" required>
            </div>
            <br>
            <button type="submit" class="btn btn-add custom-pointer">Subscribe</button>
        </form>
    </section>
</div>
{% endblock content %}
