/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;600;700&family=Quicksand:wght@300;500;600;700&display=swap');

/* Custom Variables */
:root {
    --peach: #ff9c7f;
    --red: #ff6961;
    --green: #8cada4;
    --dark-green: #465652;
    --dark-white: #eee;
    --white: #fff;
    --brown-transparent: rgba(190, 164, 148, 0.8);
    --light-background: #f8f5f4;
    --dark-background: #bea494;
    --dark-background-transparent: rgba(70, 86, 82, 0.2);
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --font-color: #4c413b;
    --footer-color: #13100e;
}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
}

/* General Style */
html {
    cursor: url('data:image/svg+xml,<svg width="32px" height="32px" viewBox="0 0 512.00 512.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--fxemoji" preserveAspectRatio="xMidYMid meet" fill="%23000000" transform="matrix(1, 0, 0, 1, 0, 0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="%2316992B" d="M168.478 104.284l-.578-.467c-.38-.308-.964-.765-1.628-1.364c-.335-.312-.74-.586-1.114-1.097a50.941 50.941 0 0 1-1.204-1.604c-.922-1.249-1.672-2.536-2.613-4.152c-1.721-3.194-3.315-7.477-3.957-12.735c-.661-5.233-.325-11.42 1.306-17.731c1.622-6.264 4.469-12.673 8.164-18.404c1.831-2.942 3.882-5.617 6.079-8.255a84.437 84.437 0 0 1 6.982-7.28c4.896-4.528 10.196-8.355 15.651-11.55c5.449-3.199 11.099-5.706 16.686-7.772a122.19 122.19 0 0 1 32.652-7.176a132.078 132.078 0 0 1 14.887-.301c4.731.173 9.199.595 13.352 1.153c4.154.557 7.997 1.253 11.467 1.952c3.472.706 6.56 1.391 9.225 2.019l6.383 1.398l2.446.515l.37.078c2.919.615 4.808 3.44 4.301 6.355c0 0-.168.959-.677 2.689a44.523 44.523 0 0 1-2.815 6.962c-2.761 5.756-7.726 12.96-14.203 19.884c-3.233 3.473-6.829 6.895-10.657 10.154c-3.826 3.267-7.91 6.364-12.08 9.284c-8.361 5.814-17.211 10.723-25.55 14.744c-4.188 2.001-8.195 3.849-12.068 5.312c-3.856 1.48-7.531 2.655-10.961 3.531a78.325 78.325 0 0 1-4.992 1.103c-1.567.3-3.17.547-4.658.72c-3.046.385-5.825.559-8.7.835c-2.811.274-5.649.705-8.408 1.568c-2.753.844-5.369 2.125-7.653 3.523c-1.128.692-2.136 1.46-3.051 2.013c-.455.3-.881.6-1.272.889c-.414.251-.77.67-1.09.977c-.623.641-1.175 1.135-1.534 1.468l-.546.504c-2.242 2.072-5.634 2.128-7.942.258z"></path><path fill="%23FF9C7F" d="M488.402 221.14c15.854 81.39-18.031 184.585-86.466 228.622c-34.524 22.216-46.798 44.193-79.658 51.351c-29.709 6.471-35.786-5.919-85.784-12.918c-85.093-11.911-163.06-97.985-179.62-182.997C33.662 186.035 119.056 92.797 238.22 69.585s226.97 32.392 250.182 151.555z"></path><path fill="%2345BF53" d="M11.347 117.029l.277-.721c.181-.472.441-1.192.819-2.036c.73-1.755 1.886-4.137 3.456-6.989c.782-1.434 1.707-2.882 2.695-4.531c1.03-1.537 2.146-3.213 3.374-4.935a99.508 99.508 0 0 1 8.79-10.422c6.753-6.996 15.33-13.73 25.344-19.046a107.157 107.157 0 0 1 15.985-6.887c5.615-1.938 11.531-3.3 17.558-4.407c6.026-1.117 12.222-1.749 18.438-1.995c6.216-.246 12.471-.034 18.626.696c12.292 1.413 24.263 4.88 34.198 10.055c4.957 2.587 9.401 5.515 13.025 8.715a55.26 55.26 0 0 1 2.595 2.322c.806.818 1.555 1.579 2.268 2.391c.708.805 1.37 1.521 1.973 2.296a95.454 95.454 0 0 1 1.642 2.27c2.008 2.92 3.145 5.502 3.787 7.284c.326.893.497 1.636.632 2.098l.186.713a4.789 4.789 0 0 1-3.126 5.754l-1.706.559s-1.083.355-2.776.981c-.824.288-1.915.796-2.986 1.253c-.535.234-1.153.547-1.762.866c-.627.341-1.192.595-1.851.973a99.164 99.164 0 0 0-3.992 2.423c-.66.428-1.393.934-2.098 1.445l-1.041.724l-1.089.791c-2.87 2.08-5.854 4.402-9.003 6.784c-3.149 2.384-6.468 4.829-10 7.211a147.49 147.49 0 0 1-11.237 6.89a118.196 118.196 0 0 1-12.502 6.017c-4.364 1.798-8.891 3.465-13.576 4.786c-4.682 1.341-9.445 2.618-14.357 3.284a93.58 93.58 0 0 1-14.919.976c-10.038-.121-20.227-1.932-29.64-4.793a133 133 0 0 1-13.326-4.834c-1.029-.427-2.049-.9-3.024-1.321l-2.87-1.339c-1.888-.974-3.594-1.765-5.204-2.642c-1.619-.901-3.038-1.616-4.347-2.419l-1.795-1.05l-1.531-.953c-.912-.556-1.641-1.053-2.127-1.375l-.744-.515l-.975-.675a5.654 5.654 0 0 1-2.064-6.672z"></path><path fill="%23FFC2B6" d="M120.569 278.721c-.311 0-.621-.006-.935-.017c-14.792-.507-26.373-12.909-25.866-27.701c.937-27.336 11.141-54.639 28.733-76.88c9.183-11.608 26.036-13.574 37.645-4.394c11.608 9.182 13.576 26.037 4.394 37.645c-10.546 13.333-16.656 29.479-17.204 45.464c-.496 14.479-12.391 25.883-26.767 25.883z"></path><path fill="%23FF5F5F" d="M297.654 106.912s1.182.511 3.36 1.528l1.82.854c.669.314 1.386.637 2.234 1.098c1.67.863 3.576 1.894 5.716 3.065c2.064 1.182 4.297 2.542 6.758 4.021l3.735 2.449c1.289.856 2.64 1.729 3.975 2.709c5.446 3.797 11.306 8.493 17.43 13.976c6.109 5.499 12.298 11.956 18.368 19.233c1.559 1.789 2.996 3.712 4.487 5.638c.738.968 1.503 1.927 2.23 2.922l2.168 3.024c.724 1.017 1.467 2.03 2.173 3.076l2.076 3.19l2.089 3.23l2.001 3.329l2.008 3.368l1.88 3.478l.943 1.751l.473.878l.236.44l.366.75l1.624 3.288l1.634 3.308a232.204 232.204 0 0 1 1.709 3.884l1.684 3.923c.525 1.292.994 2.554 1.493 3.838l1.477 3.848c.485 1.288.902 2.601 1.355 3.905c.895 2.612 1.749 5.246 2.482 7.92c.769 2.664 1.55 5.332 2.175 8.041c.662 2.7 1.361 5.397 1.843 8.138c.529 2.731 1.095 5.456 1.482 8.208c.42 2.746.89 5.483 1.169 8.239c.316 2.751.641 5.496.794 8.248c.17 2.75.428 5.484.467 8.221c.243 5.465.145 10.895-.079 16.245c-.17 2.674-.25 5.334-.501 7.966c-.284 2.629-.518 5.241-.848 7.82l-1.106 7.652c-.449 2.515-.954 4.995-1.426 7.448l-.226 1.152l-.195.835l-.388 1.662l-.386 1.653c-.131.556-.243 1.067-.413 1.715l-.948 3.669l-.487 1.807l-.513 1.714a188.28 188.28 0 0 1-9.267 24.989a181.305 181.305 0 0 1-10.487 19.753c-3.469 5.66-6.768 10.396-9.656 14.157l-2.039 2.667l-1.886 2.286a109.825 109.825 0 0 1-3.011 3.558a9154.64 9154.64 0 0 0-2.585 2.888c-3.815 4.262-10.363 4.624-14.625.809c-3.526-3.156-4.383-8.182-2.414-12.237l.197-.398l1.53-3.148a94.695 94.695 0 0 0 1.816-3.767c.7-1.488 1.5-3.193 2.355-5.119c1.743-3.83 3.734-8.52 5.801-13.94a230.814 230.814 0 0 0 6.158-18.356a220.088 220.088 0 0 0 5.16-22.043l.271-1.478l.214-1.426l.462-2.861c.08-.445.157-1.042.236-1.593l.235-1.681l.237-1.691l.119-.849l.015-.106c.015-.09-.076.4-.033.147l.019-.195l.039-.39c.214-2.081.403-4.184.653-6.296l.468-6.429c.195-4.331.34-8.727.329-13.18c-.026-4.452-.222-8.952-.515-13.478c-.087-2.266-.384-4.528-.585-6.801c-.169-2.277-.563-4.536-.825-6.813c-.24-2.281-.66-4.54-1.021-6.81c-.329-2.276-.826-4.523-1.279-6.777c-.428-2.26-.966-4.494-1.483-6.732c-.477-2.249-1.102-4.455-1.705-6.663c-.312-1.101-.572-2.217-.922-3.303l-1.016-3.265c-.337-1.087-.635-2.187-.999-3.261l-1.109-3.211c-.37-1.061-.729-2.155-1.105-3.185l-1.154-2.97c-.386-.987-.754-1.979-1.116-2.974l-1.445-3.395l-1.436-3.374l-.089-.21l-.045-.105c-.049-.11.27.569.114.238l-.176-.374l-.351-.747l-.699-1.492l-1.388-2.972l-1.449-2.919a213.633 213.633 0 0 0-12.534-21.722c-2.162-3.381-4.446-6.554-6.671-9.626l-3.347-4.49l-3.374-4.221c-1.078-1.407-2.239-2.689-3.319-4.001l-1.622-1.928l-1.641-1.829c-1.081-1.206-2.108-2.416-3.158-3.539l-3.081-3.263c-1.97-2.145-3.967-3.987-5.715-5.828l-5.03-4.811a229.487 229.487 0 0 1-4.028-3.714c-.555-.546-1.192-1.073-1.754-1.551l-1.531-1.303c-1.828-1.562-2.782-2.426-2.782-2.426c-4.092-3.702-4.407-10.021-.705-14.112c2.95-3.256 7.564-4.112 11.381-2.468z"></path></g></svg>'),
        auto;
}

body {
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: var(--font-color);
}

.wrapper {
    width: 80%;
    margin-inline: auto;
}

/* Different Font Family For Headings */
h1,
h2,
h3,
h4 {
    font-family: 'Laila', sans-serif;
}

/* Alert Messages */
.messages-wrapper {
    margin: 0 auto 2rem;
}
.messages {
    text-align: center;
    list-style-type: none;
}
.messages li {
    width: fit-content;
    padding: .75em 1rem;
    border-radius: .5rem;
    color: var(--white);
    font-size: 1.15rem;
}

.errorlist,
.messages-wrapper {
    transition: opacity 2s ease-in-out;
}

.error {
    background-color: var(--red);
}

.success {
    background-color: var(--green);
}

/* Custom Pointer For Links */
.custom-pointer {
    cursor: url('data:image/svg+xml,<svg fill="%23ffdb85" height="32px" width="32px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" stroke="%23ffdb85"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g><g><g><path d="M256.001,129.374c-69.823,0-126.627,56.805-126.627,126.626S186.179,382.626,256,382.626 c69.822,0.001,126.626-56.803,126.626-126.626C382.626,186.179,325.822,129.374,256.001,129.374z"></path><path d="M256,95.553c10.793,0,19.543-8.75,19.543-19.543V19.543C275.543,8.75,266.793,0,256,0 c-10.793,0-19.543,8.75-19.543,19.543V76.01C236.457,86.803,245.207,95.553,256,95.553z"></path><path d="M383.272,148.272c5,0,10.003-1.909,13.818-5.725l39.929-39.929c7.632-7.631,7.632-20.005,0-27.638 c-7.63-7.632-20.004-7.632-27.638,0l-39.929,39.927c-7.632,7.632-7.632,20.005,0,27.638 C373.269,146.363,378.271,148.272,383.272,148.272z"></path><path d="M492.457,236.457H435.99c-10.793,0-19.543,8.75-19.543,19.543c0,10.793,8.75,19.543,19.543,19.543h56.467 c10.793,0,19.543-8.75,19.543-19.543C512,245.207,503.251,236.457,492.457,236.457z"></path><path d="M397.091,369.453c-7.631-7.632-20.005-7.632-27.638,0c-7.632,7.632-7.632,20.005,0,27.638l39.929,39.927 c3.816,3.816,8.818,5.725,13.818,5.725c5,0,10.003-1.907,13.818-5.725c7.632-7.632,7.632-20.005,0-27.638L397.091,369.453z"></path><path d="M256,416.447c-10.793,0-19.543,8.75-19.543,19.543v56.467c0,10.793,8.75,19.543,19.543,19.543 c10.793,0,19.543-8.75,19.543-19.543V435.99C275.543,425.197,266.793,416.447,256,416.447z"></path><path d="M114.91,369.453l-39.929,39.929c-7.632,7.631-7.632,20.005,0,27.638c3.816,3.816,8.816,5.725,13.818,5.725 c5,0,10.003-1.909,13.818-5.725l39.929-39.927c7.632-7.632,7.632-20.005,0-27.638S122.542,361.821,114.91,369.453z"></path><path d="M95.553,256c0-10.793-8.75-19.543-19.543-19.543H19.543C8.75,236.457,0,245.207,0,256 c0,10.793,8.75,19.543,19.543,19.543H76.01C86.803,275.543,95.553,266.793,95.553,256z"></path><path d="M114.91,142.547c3.816,3.816,8.818,5.725,13.819,5.725c5,0,10.003-1.909,13.818-5.723c7.632-7.632,7.632-20.005,0-27.638 l-39.926-39.93c-7.632-7.632-20.005-7.631-27.638,0c-7.632,7.632-7.632,20.005,0,27.638L114.91,142.547z"></path></g></g></g></g></svg>'),
        pointer !important;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    box-shadow: var(--box-shadow);
    background: var(--dark-white);
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem auto;
}

.logo {
    text-align: center;
    color: var(--peach);
    display: flex;
    align-items: center;
}

.logo img {
    width: 2.5rem;
    margin-inline-end: 0.25rem;
}

/* Navbar */
.navbar a {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    color: var(--green);
}

.navbar a.active,
.navbar a:hover {
    color: var(--dark-white);
    background: var(--green);
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icons i,
.icons a {
    cursor: pointer;
    margin-inline-start: 0.25rem;
    margin-block: 0.25rem;
    font-size: 1.25rem;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    color: var(--dark-white);
    border-radius: 50%;
    background: var(--green);
}

.icons i:hover,
.icons a:hover {
    color: var(--dark-green);
    background: var(--dark-white);
    transform: rotate(360deg);
}

#menu-bars {
    display: none;
}

/* Search Form */
#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    background: var(--brown-transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 50rem;
    border-block-end: 0.1rem solid var(--dark-white);
    padding: 1rem 0;
    color: var(--dark-white);
    font-size: 2.5rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: var(--light-background);
}

#search-form #search-box::--webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form button {
    color: var(--dark-white);
    font-size: 3rem;
    background: none;
}

#search-form button:hover,
#search-form #close:hover {
    color: var(--font-color);
}

#search-form #close {
    position: absolute;
    color: var(--dark-white);
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
}

/* Main */
main {
    flex: 1;
    background: var(--light-background);
    padding-block: 5rem;
    margin-top: 96px;
    display: flex;
    flex-direction: column;
}

/* Shop */
/* Page Heading */
.page-heading {
    background: var(--green);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.subheading {
    font-size: 2rem;
    color: var(--light-background);
}

.shop-section {
    margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
}

.shop-section aside {
    flex-basis: 15%;
}

.product-list {
    flex-basis: 85%;
}

/* Pagination Style */
.custom-pagination {
    margin-top: 3rem;
}

.page-item {
    display: inline-block;
}

.page-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.4rem 0.75rem;
    text-align: center;
    text-decoration: none;
    color: var(--font-color);
    border: 1px solid var(--dark-background);
    border-radius: 3px;
}

.page-item a:hover {
    background-color: var(--dark-background);
    color: var(--white);
}

.page-item.active a {
    background-color: var(--dark-background);
    border-color: var(--dark-background);
    color: var(--white);
}

/* Filters */
.filter-group {
    width: fit-content;
    padding: 2rem;
    border: 1px solid var(--dark-background);
    border-radius: 0.5rem;
}

.filter-group h3 {
    font-size: 1.5rem;
    width: fit-content;
    border-bottom: 1px solid var(--dark-background);
    margin-bottom: 0.75rem;
    color: var(--dark-background);
}

.filter-group a {
    color: var(--font-color);
}

.filter-list {
    color: var(--dark-background);
    list-style: none;
}

.filter-object {
    margin-block: 0.5rem;
    font-size: 1.25rem;
}

.items-shop {
    font-size: 1.25rem;
    border-bottom: 1px solid var(--dark-background);
    margin-bottom: 1.5rem;
}

.product-grid {
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: dense;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 25px;
    grid-template-columns: repeat(5, 1fr);
}

.product-card {
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.product-card h3 a {
    color: var(--dark-background);
}

.product-card h4 a {
    color: var(--font-color)
}

.img-wrapper img {
    width: 100%;
    border-radius: .5rem;
}

.btn {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.btn-add {
    background: var(--peach);
    color: var(--light-background);
}

.btn-add:hover {
    color: var(--dark-background);
    background: var(--light-background);
}

.btn-more {
    background: var(--green);
    color: var(--light-background);
    margin-block-start: .5rem;
    width: 100%;
}

.btn-more:hover {
    color: var(--green);
    background: var(--light-background);
}

/* Product Detail Page */
.product-detail-wrapper {
    width: 50%;
    margin-inline: auto;
    border: 1px solid var(--dark-background);
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    text-align: center;
}

.left-detail {
    flex-basis: 50%;
}

.left-detail img {
    max-width: 100%;
    border-radius: .5rem;
}

.right-detail {
    padding-left: 1.5rem;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-detail h2 {
    margin-bottom: 0.75rem;
}

.product-detail-wrapper .right-detail p a {
    color: var(--font-color);
}

.variation-wrapper {
    margin-block: .5rem;
}

.variation-wrapper select {
    padding: .5rem;
    border: 1px solid var(--dark-background);
    border-radius: .5rem;
    text-align: center;
}

.addcart-wrapper {
    display: flex;
    justify-content: space-around;
}

.break {
    border: 1px solid var(--brown-transparent);
    margin-block: 0.75rem;
    width: 50%;
    margin-inline: auto;
}

/* Cart Style */
.cart-wrapper {
    display: flex;
    gap: 2rem;
}

.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.25rem;
}

.center a {
    padding: 1rem 2rem;
    margin-block-start: 5rem;
    width: fit-content;
}

.cart-list {
    flex-basis: 70%;
    background: var(--white);
    border: 1px solid var(--dark-background);
    border-radius: 0.5rem;
    padding: 1.5rem;
    text-align: left;
}

.cart-list h3 {
    font-size: 2rem;
    margin-block-end: 1rem;
}

table {
    width: 100%;
}

th {
    padding-block: 1rem;
}

td {
    padding-block-end: 1rem;
}

.cart-list th:nth-child(1) {
    width: 40%;
}

.cart-list th:nth-child(2) {
    width: 25%;
}

.cart-list th:nth-child(3) {
    width: 25%;
}

.cart-list th:nth-child(4) {
    width: 10%;
}

.cart-list td {
    vertical-align: top;
}

.cart-list img {
    width: 100%;
    height: 5rem;
}

.product-order-cart {
    display: flex;
    gap: 1rem;
}

.product-order-cart a {
    color: var(--font-color);
}

.counter {
    display: flex;
    align-items: center;
    border: 1px solid var(--dark-background);
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: fit-content;
}

.counter-minus,
.counter-plus {
    width: fit-content;
}

.counter-minus a,
.counter-plus button {
    color: var(--font-color);
    background: none;
    font-size: 1rem;
}

.counter-minus a:active,
.counter-plus button:active,
.counter-minus:hover,
.counter-plus:hover {
    transform: scale(1.25);
}

.counter input {
    width: 3rem;
    text-align: center;
}

.checkout-wrapper {
    flex-basis: 30%;
    background: var(--white);
    border-radius: 0.5rem;
    padding: 1.5rem;
    height: fit-content;
    border: 1px solid var(--dark-background);
}

.cart-price {
    display: flex;
    justify-content: space-between;
    margin-block-end: 1rem;
    font-size: 1.1rem;
}

.btn-checkout {
    margin-block: 1rem;
    width: 100%;
    background: var(--green);
    color: var(--light-background);
    text-align: center;
    padding: 0.75rem;
}

.btn-checkout:active,
.btn-checkout:hover {
    color: var(--green);
    background: var(--light-background);
}

.btn-continue {
    width: 100%;
    background: var(--light-background);
    color: var(--dark-background);
    text-align: center;
    padding: 0.75rem;
}

.btn-continue:active,
.btn-continue:hover {
    color: var(--light-background);
    background: var(--dark-background);
}

.btn-remove {
    background: var(--red);
    color: var(--light-background);
}

.btn-remove:hover {
    color: var(--red);
    background: var(--light-background);
}

/* Checkout Page*/
.checkout-billing {
    flex-basis: 50%;
}

.details-checkout {
    margin-block-end: 2rem;
}

.checkout-wrapper-order {
    flex-basis: 50%;
}

.checkout-wrapper-order th:first-of-type,
.checkout-wrapper-order td:first-of-type {
    text-align: start;
}

.table-body-checkout td,
.payment-review th:nth-child(2),
.payment-review th:nth-child(3),
.payment-review td {
    text-align: center;
}

.checkout-wrapper-order h3 {
    font-size: 1.5rem;
}

/* Account Pages */
.account-card {
    align-self: center;
    height: fit-content;
    width: 35%;
    padding: 2.5rem;
    border: 1px solid var(--dark-background);
    border-radius: 0.5rem;
    margin-inline: auto;
    font-size: 1.1rem;
}

.account-card h2 {
    border-bottom: 1px solid var(--font-color);
    width: fit-content;
}
.checkout-billing input,
.checkout-billing textarea,
.account-card input {
    width: 100%;
    padding: 1rem;
    margin-block: 0.5rem 1rem;
    border: 1px solid var(--dark-background);
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--font-color)
}

.sign-link {
    text-decoration: underline;
    color: var(--dark-background);
}

.sign-link:active,
.sign-link:hover {
    color: var(--dark-background);
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.account-card input[type="submit"],
.account-card button {
    background: var(--light-background);
    color: var(--dark-background);
    padding: 0.5rem;
    border: 1px solid var(--dark-background);
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    width: fit-content;
}

.account-card button:active,
.account-card input[type="submit"]:active,
.account-card button:hover,
.account-card input[type="submit"]:hover {
    background: var(--dark-background);
    color: var(--light-background);
}

.field-wrapper .errorlist {
    list-style-type: none;
    background-color: var(--red);
    color: var(--white);
    border-radius: .5rem;
    padding: .5em;
    font-size: 1rem;
}

.secondaryAction {
    margin-inline-end: 0.5rem;
}

/* Error Pages */
.center .error-btn {
    width: 80%;
}

/* Payment Review */
.payment-review {
    flex-basis: 60%;
}

.payment-review h4 {
    font-size: 1.25rem;
    margin-block-end: .5rem;
}

.payment-review p {
    margin-block: .25rem;
}

.payment-review p:nth-child(2) {
    margin-block-start: 1rem;
}
.break-payment {
    border: 1px solid var(--brown-transparent);
    margin-block: 1.5rem;
}
.stripe-payment-wrapper {
    flex-basis: 40%;
}
.StripeElement {
    margin-block: 1.5rem .5rem;
    border: 1px solid var(--green);
    border-radius: .5rem;
    padding: 1.5rem;
}

/* Card Errors */


dialog {
    position: relative;
    color: var(--red);
    font-size: 1rem;
    margin-inline: auto;
}

dialog button {
    background: transparent;
}

dialog button i {
    font-weight: bold;
    color: var(--red);
    font-size: 1rem;
    margin-inline-start: .25rem;
    padding: .25rem;
}

/* Footer */
.footer {
    background: var(--dark-background);
    color: var(--footer-color);
}

.footer-wrapper {
    margin-block: 3rem;
}

.footer-box-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.25rem;
}

.box h3 {
    margin-block-end: 1rem;
    width: fit-content;
    color: var(--footer-color);
    border-block-end: 1px solid var(--footer-color);
}

.footer-social {
    list-style-type: none;
}

.footer-social li {
    display: inline-block;
}

.footer-social a {
    font-size: 1.75rem;
    margin-block-end: 0.5rem;
    cursor: pointer;
    height: 3.5rem;
    line-height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    color: var(--dark-background);
    border-radius: 50%;
    background: var(--light-background);
}

.footer-social a:hover {
    background: var(--dark-background);
    color: var(--light-background);
}

.copyright {
    font-family: 'Laila', sans-serif;
    text-align: center;
    margin-top: 2.5rem;
}

/* Media Queries */
/* For Screens Up To 1920px */
@media (max-width: 1920px) {

    /* Account Card Wrapper */
    .account-card {
        width: 45%;
    }

    /* Product Detail Page */
    .product-detail-wrapper {
        width: 65%;
    }
}

/* For Screens Up To 1440px */
@media (max-width: 1440px) {

    /* Account Card Wrapper */
    .account-card {
        width: 50%;
    }

    /* Shop */
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Product Detail Page */
    .product-detail-wrapper {
        width: 75%;
    }

}

/* For Screens Up To 1220px */
@media (max-width: 1220px) {

    /* Account Card Wrapper */
    .account-card {
        width: 60%;
    }

    /* Product Detail Page */
    .product-detail-wrapper {
        width: 90%;
    }

    /* Payment */
    .payment-review {
        flex-basis: 50%;
    }
    
    .stripe-payment-wrapper {
        flex-basis: 50%;
    }
}

/* For Screens Up To 1020px */
@media (max-width: 1020px) {

    /* Main */
    main {
        margin-top: 81.5px;
    }

    /* General Style */
    .wrapper {
        width: 90%;
    }

    /* Account Card Wrapper */
    .account-card {
        width: 75%;
    }

    /* Header */
    .icons i,
    .icons a {
        font-size: 1.25rem;
        height: 2.5rem;
        line-height: 2.5rem;
        width: 2.5rem;
    }

    /* Navbar */
    #menu-bars {
        display: inline-block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--dark-white);
        border-block: 0.1rem solid var(--dark-background-transparent);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navbar a {
        display: block;
        padding: 1rem;
        margin: 1rem;
        font-size: 1.5rem;
        background: var(--light-background);
    }

    /* Search Form */
    #search-form #search-box {
        width: 80%;
        margin: 0 1rem;
    }

    /* Shop */
    .filter-group {
        padding: 1.25rem;
        position: sticky;
        top: 100px;
    }

    /* Cart */
    .cart-wrapper {
        flex-direction: column-reverse;
    }
        
    .checkout-wrapper {
        width: 100%;
        align-self: center;
    }
    .btn-checkout,
    .btn-continue {
        width:50%;
        display: block;
        margin-inline: auto;
    }
}

/* For Screens Up To 768px */
@media (max-width: 768px) {

    /* Header, Navbar */
    #search-form #close {
        top: 1rem;
        right: 1rem;
    }

    /* Account Card Wrapper */
    .account-card {
        width: 85%;
    }

    /* Shop */
    .product-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Pagination */
    .custom-pagination ul {
        text-align: center;
    }

    /* Product Detail Page */
    .product-detail-wrapper {
        width: 100%;
    }
}

/* For Screens Up To 550px */
@media (max-width: 550px) {

    /* Main */
    main {
        margin-top: 69.5px;
    }

    /* Header, Navbar */
    .logo {
        font-size: .75rem;
        margin-inline-end: .5rem;
    }

    .icons i,
    .icons a {
        margin-inline-start: 0.1rem;
        margin-block: 0.1rem;
        font-size: 1rem;
        height: 2rem;
        line-height: 2rem;
        width: 2rem;
    }

    /* Product Detail Page */
    .product-detail-wrapper {
        padding: 1rem;
        flex-direction: column;
    }
    
    .right-detail {
        padding-top: 1.5rem;
        padding-left: 0;
    }

    /* Cart */
    .cart-list h3 {
        text-align: center;
    }

    tr {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .cart-list img {
        height: auto;
    }

    thead {
        display: none;
    }

    .product-order-cart {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
    }

    /* Account Card Wrapper */
    .account-card {
        width: 90%;
        padding: 1.5rem;
        font-size: 1rem;
    }

}

/* For Screens Up To 425px */
@media (max-width: 425px) {

    /* Filters */
    .filter-group {
        padding: 1rem;
    }

    .filter-group h3 {
        font-size: 1.25rem;
    }

    .filter-object {
        font-size: 1rem;
    }
    /* Account Card Forgot Password */
    .secondaryAction {
        display: block;
        margin-block-end: 1rem;
        margin-inline-end: 0;
    }
}

/* For Screens Up To 390px */
@media (max-width: 390px) {

    /* Main */
    main {
        margin-top: 107px;
    }

}

