{% comment %} Conditional Displaying Of Django Messages {% endcomment %}


{% if messages %}
    <div class="messages-wrapper" role="alert">
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {{ message }}
                    <button type="button" class="fa-solid fa-xmark custom-pointer close-message custom-pointer" aria-label="Close this message"></button>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}