<!-- Footer -->
<footer class="footer">
    <div class="wrapper footer-wrapper">
        <div class="footer-box-wrapper">
            <div class="box">
                <h3>Sun & Peaches</h3>
                <p>
                    Sun & Peaches is a trendy jewelry store that caters to fashion-forward
                    individuals seeking unique and stylish pieces. With a diverse
                    collection of handcrafted jewelry and a vibrant atmosphere, Sun & Peaches
                    offers a delightful shopping experience for those seeking to adorn
                    themselves with timeless beauty.
                </p>
            </div>
            <div class="box">
                <h3>Quick Links</h3>
            </div>
            <div class="box">
                <h3>Contact Us</h3>
                <address>
                    Sun & Peaches Jewelry Store<br>
                    123 Sparkle Street<br>
                    Gemstone City<br>
                    Luxuria 98765<br>
                    Phone: (555) 123-4567
                </address>
            </div>
            <div class="box footer-social">
                <h3>Follow Us</h3>
                <a href="https://www.facebook.com" rel="noopener" target="_blank" aria-label="Link to facebook, opens in new window" class="fab fa-facebook-square custom-pointer">
                </a>
                <a href="https://www.instagram.com" rel="noopener" target="_blank" aria-label="Link to instagram, opens in new window" class="fa-brands fa-square-instagram custom-pointer">
                </a>
                <a href="https://www.twitter.com" rel="noopener" target="_blank" aria-label="Link to twitter, opens in new window" class="fa-brands fa-square-twitter custom-pointer">
                </a>
                <a href="https://www.youtube.com" rel="noopener" target="_blank" aria-label="Link to instagram, opens in new window" class="fa-brands fa-square-youtube custom-pointer">
                </a>
            </div>
        </div>
        <div class="copyright">&copy; <span id="year"></span> Sun & Peaches</div>
    </div>
</footer>