<!-- Header, Navbar, Search -->
<header class="header">
    <div class="wrapper header-wrapper">
        <a href="{% url 'homepage' %}" class="logo custom-pointer">
            <h1>Sun&Peaches</h1>
        </a>
        <!-- Main Navigation Links -->
        {% comment %} Conditional to render links with class active {% endcomment %}
        <nav class="navbar">
            <a href="{% url 'homepage' %}" class="{% if active_homepage %} active {% endif %} custom-pointer">Home</a>
            <a href="{% url 'shop' %}" class="{% if active_shop %} active {% endif %} custom-pointer">Shop</a>
            <a href="{% url 'contact' %}" class="{% if active_contact %} active {% endif %} custom-pointer">Contact</a>
        </nav>

        <div class="icons">
            <!-- Menu Bars For Small Screen -->
            <i class="fa-solid fa-bars custom-pointer" id="menu-bars" aria-label="Menu for small screens"></i>

            <!-- Icon Links For Profile, Logout, Cart, Search -->
            {% if request.user.is_authenticated %}
            <a href="{% url 'dashboard' %}" class="fa-solid fa-user custom-pointer" aria-label="Request user dashboard"></a>
            <a href="{% url 'signout' %}" class="fa-solid fa-arrow-right-to-bracket custom-pointer" aria-label="Signout from page"></a>
            {% else %}
            <a href="{% url 'signin' %}" class="fa-solid fa-user custom-pointer" aria-label="Sign in"></a>
            {% endif %}  
            <a href="" id="search-icon" class="fa-solid fa-magnifying-glass custom-pointer" aria-label="Search the site"></a>
            <a href="{% url 'cart' %}" class="fa-solid fa-cart-shopping custom-pointer cart-counter-position" aria-label="View shopping cart">
                <span class="cart-counter">{{ cart_count }}</span>
            </a>
        </div>

        <!-- Search Form -->
        <form action="{% url 'search' %}" id="search-form" method="GET">
            <input type="search" name="q" id="search-box" placeholder="Search..." autofocus>
            <button type="submit" class="fa-solid fa-magnifying-glass custom-pointer"></button>
            <i class="fa-solid fa-xmark custom-pointer" id="close"></i>
        </form>
    </div>
</header>