<!-- Header, Navbar, Search -->
<header class="header">
    <div class="wrapper header-wrapper">
        <a href="" class="logo custom-pointer">
            <h1>Sun & Peaches</h1>
        </a>
        <nav class="navbar">
            <a href="" class="custom-pointer">Home</a>
            <a href="" class="custom-pointer">Shop</a>
            <a href="" class="custom-pointer">Contact</a>
        </nav>

        <div class="icons">
            <!-- Menu Bars For Small Screen -->
            <i class="fa-solid fa-bars custom-pointer" id="menu-bars"></i>

            <!-- Icon Links For Profile, Logout, Cart, Search -->
            <a href="" class="fa-solid fa-user custom-pointer"></a>
            <a href="" class="fa-solid fa-arrow-right-to-bracket custom-pointer"></a>
            <a href="" id="search-icon" class="fa-solid fa-magnifying-glass custom-pointer"></a>
            <a href="" class="fa-solid fa-cart-shopping custom-pointer"></a>
        </div>

        <!-- Search Form -->
        <form action="" id="search-form">
            <input type="search" name="" id="search-box" placeholder="Search...">
            <button type="submit" class="fa-solid fa-magnifying-glass custom-pointer"></button>
            <i class="fa-solid fa-xmark custom-pointer" id="close"></i>
        </form>
    </div>
</header>