{% extends 'base.html' %}
{% load static %}
{% block head_title %}Shop{% endblock head_title %}
{% block content %}
<div class="wrapper">
    <!-- Page Heading -->
    <section class="page-heading">
        {% if 'search' in request.path %}
            {% if products %}
                <h2 class="subheading">Search Results</h2>
            {% else %}
                <h3 class="subheading">No matching items found.</h3>
            {% endif %}
        {% else %}
            <h2 class="subheading">Shop</h2>
        {% endif %}
    </section>
    <!-- Shop Filters -->
    <div class="shop-section">
        <aside>
            <div class="filter-group">
                <h3>Categories</h3>
                <ul class="filter-list">
                    <li class="filter-object"><a href="{% url 'shop' %}" class="custom-pointer">All Products</a></li>
                    {% for category_link in links %}
                        <li class="filter-object"><a href="{{ category_link.get_absolute_url }}" class="custom-pointer">{{ category_link.category_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </aside>
        <!-- Product List -->
        <section class="product-list">
            <p class="items-shop">
                {{ product_count }} Product{{ product_count | pluralize }} in Shop
            </p>
            <div class="product-grid">
                {% for product in products %}
                <div class="product-card">
                    <div class="img-wrapper">
                        <a href="{{ product.get_absolute_url }}" class="custom-pointer"><img src="{{ product.image.url }}" alt="{{ product.product_name }} Product Image"></a>
                    </div>
                    <h3>
                        <a href="{{ product.get_absolute_url }}" class="custom-pointer">{{ product.product_name }}</a>
                    </h3>
                    <h4><a href="{{ category_link.get_absolute_url }}" class="custom-pointer">{{ product.category }}</a></h4>
                    <p><strong>€ {{ product.price }}</strong></p>
                    <a href="{{ product.get_absolute_url }}" class="btn btn-more custom-pointer">More</a>
                </div>
                {% endfor %}
            </div>
            <!-- Page Pagination -->
            {% if products.has_other_pages %}
                <nav class="custom-pagination">
                    <ul>
                        {% if products.has_previous %}
                            <li class="page-item">
                                <a class="custom-pointer" href="?page={{ products.previous_page_number }}&q={{ request.GET.q }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for page_number in products.paginator.page_range %}
                            {% if page_number <= products.number|add:3 and page_number >= products.number|add:-3 %}
                                {% if products.number == page_number %}
                                    <li class="page-item active">
                                        <a class="custom-pointer" href="?page={{ page_number }}&q={{ request.GET.q }}">{{ page_number }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="custom-pointer" href="?page={{ page_number }}&q={{ request.GET.q }}">{{ page_number }}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% if products.has_next %}
                            <li class="page-item">
                                <a class="custom-pointer" href="?page={{ products.next_page_number }}&q={{ request.GET.q }}">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </section>
    </div>
</div>
{% endblock content %}