{% extends 'base.html' %}
{% load static %}
{% block head_title %}Shop Cart{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <!-- Payment -->
    <div class="cart-wrapper">
        <section class="cart-list payment-review">
            <h4>Billing Address</h4>
            <p>{{order.full_name}}</p>
            <p>{{order.full_address}}</p>
            <p>{{order.city}}, {{order.state}}</p>
            <p>{{order.country}}</p>
            <p>{{order.email}}</p>
            <p>{{order.phone}}</p>
            {% if order.order_note %}
            <strong>Order Note: </strong>{{ order.order_note}}
            {% endif %}
            <hr class="break-payment">
            <h4>Order Summary</h4>
            <table>
                <thead class="table-head">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody class="table-body table-body-checkout">
                    {% for cart_item in cart_items %}
                    <tr>
                        <td>
                            <div class="product-order-cart">
                                <a href="{{ cart_item.product.get_url }}"><img src="{{ cart_item.product.image.url }}" alt="{{cart_item.product.product_name}} product image" width="55"
                                        class="custom-pointer"></a>
                                <div>
                                    <a href="{{ cart_item.product.get_url }}" class="custom-pointer"><strong>{{ cart_item.product.product_name }}</strong></a>
                                    {% if cart_item.variations.all %}
                                        <br>
                                        {% for item in cart_item.variations.all %}
                                        <small><strong>{{ item.category | capfirst }}</strong>: <span>{{ item.value }}</span></small>
                                        <br>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td>
                                <p><strong>{{ cart_item.quantity }}</strong></p>
                        </td>
                        <td>
                            <p><strong>€ {{ cart_item.subtotal }}</strong></p>
                            <small>€ {{ cart_item.product.price }} each</small>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>
        <aside class="checkout-wrapper stripe-payment-wrapper">
            <dl class="cart-price">
                <dt class="cart-price-title">Total Price:</dt>
                <dd class="cart-price-sum"><strong>€ {{ price_without_tax }}</strong></dd>
            </dl>
            <dl class="cart-price">
                <dt class="cart-price-title">Tax:</dt>
                <dd class="cart-price-sum"><strong>€ {{ tax }}</strong></dd>
            </dl>
            <dl class="cart-price">
                <dt class="cart-price-title">Grand Total</dt>
                <dd class="cart-price-sum"><strong>€ {{ total }}</strong></dd>
            </dl>
            <hr class="break">
            <div id="card-element"></div>
            <div id="card-errors"></div>
            <a href="{% url 'checkout' %}" class="btn btn-checkout custom-pointer">Pay</a>
        </aside>
    </div>
</div>
{% endblock content %}

{% block postload_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ stripe_client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'order/js/stripe.js' %}"></script>
{% endblock postload_js %}