{% extends 'base.html' %}
{% load static %}
{% block head_title %}Dashboard{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <!-- Page Heading -->
    <section class="page-heading">
        <h2 class="subheading">Dashboard</h2>
    </section>
    <div class="dashboard-wrapper">
        {% comment %} Dashboard Sidebar {% endcomment %}
        {% include 'account/includes/dashboard_sidebar.html' %}
        <!-- Main Dashboard Content -->
        <section class="dashboard-page">
            <h3>Welcome, {{ request.user.first_name }}</h3>
            <div class="dasboard-inner-wrapper">
                <!-- Total Orders -->
                <section class="total-order">
                    <h4>Orders</h4>
                    <p class="number-of-orders"><strong>{{ orders_count }}</strong></p>
                    <a href="{% url 'user_orders' %}" class="custom-pointer">View Orders</a>
                </section>
                <!-- Profile and Address Data -->
                <section class="profile-address-data">
                    <h4>Delivery Address</h4>
                    <address>
                        <p><strong>Full Name: </strong>{{ user.full_name }}</p>
                        <p><strong>Email: </strong>{{ user.email }}</p>
                        <p><strong>Phone: </strong>{{ user.phone_number }}</p>
                        <p><strong>Address: </strong>{{ user.profile.address_line_1 }}</p>
                        <p><strong>City: </strong>{{ user.profile.city }}</p>
                        <p><strong>Postcode: </strong>{{ user.profile.postcode }}</p>
                        <p><strong>State: </strong>{{ user.profile.state }}</p>
                        <p><strong>Country: </strong>{{ user.profile.country }}</p>
                    </address>
                </section>
            </div>
        </section>
    </div>
</div>
{% endblock content %}