{% extends 'base.html' %}
{% load static %}
{% block head_title %}Orders List{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <!-- Page Heading -->
    <section class="page-heading">
        <h2 class="subheading">Dashboard</h2>
    </section>
    <div class="dashboard-wrapper">
        {% include 'account/includes/dashboard_sidebar.html' %}
        <section class="dashboard-page">
            <h3>Sun & Peaches</h3>
            <div class="order-detail-wrapper">
                <ul class="order-invoice">
                    <li><strong>Order Number: </strong>{{ order.order_number }}</li>
                    <li><strong>Transaction ID: </strong>{{ order.payment.payment_id }}</li>
                    <li><strong>Order Date: </strong>{{ order.created_at | date:"M d, Y" }}</li>
                    <li><strong>Status: </strong>{{ order.payment.status | capfirst }}</li>
                </ul>
                <table>
                    <thead class="table-head">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody class="table-body table-body-checkout">
                        {% for item in order_detail %}
                            <tr>
                                <td>
                                    <div class="product-order-cart">
                                        <a href="{{ item.product.get_absolute_url }}"><img src="{{ item.product.image.url }}" alt=" product image" width="55" class="custom-pointer"></a>
                                        <div>
                                            <a href="{{ item.product.get_absolute_url }}" class="custom-pointer"><strong>{{ item.product.product_name }}</strong></a>
                                            {% if item.variations.all %}
                                            <br>
                                                {% for i in item.variations.all %}
                                                    <small><strong>{{ i.category | capfirst }}</strong>: <span>{{ i.value | capfirst }}</span></small>
                                                    <br>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p><strong>{{ item.quantity }}</strong></p>
                                </td>
                                <td>
                                    <p><strong>€ {{ total }}</strong></p>
                                    <small>€ {{ item.product.price }} each</small>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" class="text-right">Total Price:</th>
                            <th>€ {{ price_without_tax }}</th>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-right">Tax:</th>
                            <th>€ {{ order.tax }}</th>
                        </tr>
                        <tr>
                            <th colspan="2" class="text-right">Grand Total:</th>
                            <th>€ {{ order.order_total }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock content %}