{% extends 'base.html' %}
{% load static %}
{% block head_title %}Password Change{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <!-- Page Heading -->
    <section class="page-heading">
        <h2 class="subheading">Dashboard</h2>
    </section>
    <div class="dashboard-wrapper">
        {% comment %} Dashboard Sidebar {% endcomment %}
        {% include 'account/includes/dashboard_sidebar.html' %}
        <section class="dashboard-page">
            <h3>Change Password</h3>
            <div>
                <!-- Password Change Form -->
                <form action="{% url 'password_change' %}" method="POST">
                    {% csrf_token %}
                    <input type="password" name="password" id="password" placeholder="Current Password" required>
                    <input type="password" name="new_password" id="new_password" placeholder="New Password" required>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm New Password">
                    <div class="requirements-signup">
                        <p><strong>Password Requirements:</strong></p>
                        <p>Minimum length of 6 characters</p>
                        <p>At least one number</p>
                        <p>At least one capital letter</p>
                        <p>At least one special symbol</p>
                        <small>(! @ # $ % ^ & * _ + {} : &lt;&gt; ?)</small>
                    </div>
                    <button type="submit" class="btn btn-checkout custom-pointer">Change</button>
                </form>
            </div>
        </section>
    </div>
</div>
{% endblock content %}