{% extends 'base.html' %}
{% load static %}
{% block head_title %}Password Reset{% endblock %}

{% block content %}
<div class="account-card">
    <h2>Password Reset</h2>
    <br>
    <br>
    <p>Forgotten your password?</p>
    <p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
    <br>
    <!-- Password Reset Form -->
    <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <input type="email" name="email" id="email" placeholder="Email Address">
        <br>
        <button type="submit" class="custom-pointer">Reset My Password</button>
    </form>
    <br>
    <br>
    <p>Please contact us if you have any trouble resetting your password.</p>
</div>
{% endblock %}