{% extends 'base.html' %}
{% load static %}
{% block head_title %}Reset Password{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <div class="account-card">
        <h2>Reset Password</h2>
        <br>
        <br>
        <form action="{% url 'set_new_password' %}" method="POST">
            {% csrf_token %}
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="confirm_password" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
            <br>
            <br>
            <button type="submit" class="custom-pointer">Reset Password</button>
        </form>
    </div>
</div>
{% endblock content %}