{% extends 'base.html' %}
{% load static %}
{% block head_title %}Set New Password{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <section class="account-card">
        <h2>Set New Password</h2>
        <br>
        <br>
        <!-- Set New Password Form -->
        <form action="{% url 'set_new_password' %}" method="POST">
            {% csrf_token %}
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
            <div class="requirements-signup">
                <p><strong>Password Requirements:</strong></p>
                <p>Minimum length of 6 characters</p>
                <p>At least one number</p>
                <p>At least one capital letter</p>
                <p>At least one special symbol</p>
                <small>(! @ # $ % ^ & * _ + {} : &lt;&gt; ?)</small>
            </div>
            <br>
            <br>
            <button type="submit" class="custom-pointer">Reset Password</button>
        </form>
    </section>
</div>
{% endblock content %}