{% extends 'base.html' %}
{% load static %}
{% block head_title %}Sign Up{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <section class="account-card">
        <h2>Sign Up</h2>
        <br>
        <p>Already have an account? Then please <a href="{% url 'signin' %}" class="sign-link custom-pointer">sign in</a>.</p>
        <br>
        <br>
        <!-- Sign Up Form -->
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            {% comment %} Render Registration Form Fields {% endcomment %}
            {% for field in form %}
            <div class="field-wrapper">
                {{ field.errors }}
                {{ field }}
            </div>
            {% comment %} List of Password Requirements {% endcomment %}
            {% if field.name == 'phone_number' %}
            <div class="requirements-signup">
                <p><strong>Phone e.g.</strong> +16044011234</p>
            </div>
            {% endif %}
            {% if field.name == 'password' %}
                <div class="requirements-signup">
                    <p><strong>Password Requirements:</strong></p>
                    <p>Minimum length of 6 characters</p>
                    <p>At least one number</p>
                    <p>At least one capital letter</p>
                    <p>At least one special symbol</p>
                    <small>(! @ # $ % ^ & * _ + {} : &lt;&gt; ?)</small>
                </div>
            {% endif %}
            {% endfor %}
            <br>
            <br>
            <button type="submit" class="custom-pointer">Sign Up &raquo;</button>
        </form>
    </section>
</div>
{% endblock content %}