{% extends 'base.html' %}
{% load static %}
{% block head_title %}Sign Up{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <div class="account-card">
    <h2>Sign In</h2>
    <br>
    <p>If you have not created an account yet, then please <a href="{% url 'signup' %}" class="custom-pointer">sign up</a> first.</p>
    <br>
    <br>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <!-- {% for field in form %}
        <div class="field-wrapper">
            {{ field.errors }}
            {{ field }}
        </div>
        {% endfor %} -->
        <br>
        <br>
        <a class="secondaryAction custom-pointer" href="">Forgot Password?</a>
        <button type="submit" class="custom-pointer">Sign In &raquo;</button>
    </form>
    </div>
</div>
{% endblock content %}