{% extends 'base.html' %}
{% load static %}
{% block head_title %}Sign Out Confrimation?{% endblock head_title %}

{% block content %}
    <div class="wrapper">
        <div class="account-card">
            <h2>Sign Out</h2>
            <br>
            <h3>Are you sure you want to sign out?</h3>
            <br>
            <form action="{% url 'signout' %}" method="POST">
                {% csrf_token %}
                <br>
                <button type="submit" class="custom-pointer">Sign Out</button>
            </form>
        </div>
    </div>
{% endblock content %}