{% extends 'base.html' %}
{% load static %}
{% block head_title %}Sign In{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <section class="account-card">
    {% comment %} Conditional Rendering, if command is set to verification show message in other case sign in form {% endcomment %}
    {% if request.GET.command == 'verification' %}
        <h2>Thank you for signing up at<br>Sun&Peaches!</h2>
        <br>
        <br>
        <p>An email has been sent to your provided email address.</p>
        <p>Please check your email and follow the instructions to complete the registration process.</p>
    {% else %}
        <h2>Sign In</h2>
        <br>
        <p>If you have not created an account yet, then please <a href="{% url 'signup' %}" class="sign-link custom-pointer">sign up</a> first.</p>
        <br>
        <br>
        <!-- Sign In Form -->
        <form action="{% url 'signin' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="email" id="email" placeholder="Email Address">
            <input type="password" name="password" id="password" placeholder="Password">
            <br>
            <br>
            <a class="secondaryAction sign-link custom-pointer" href="{% url 'password_reset' %}">Forgot Password?</a>
            <button type="submit" class="custom-pointer">Sign In &raquo;</button>
        </form>
    {% endif %}
    </section>
</div>
{% endblock content %}