{% extends 'base.html' %}
{% load static %}
{% block head_title %}Orders List{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <!-- Page Heading -->
    <section class="page-heading">
        <h2 class="subheading">Dashboard</h2>
    </section>
    <div class="dashboard-wrapper">
        {% include 'account/includes/dashboard_sidebar.html' %}
        <section class="dashboard-page">
            <h3>Your Previous Orders</h3>
            <div class="dasboard-inner-wrapper">
                <table>
                    <thead class="table-head">
                        <tr>
                            <th scope="col">Order Number</th>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Order Date</th>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        {% for order in orders %}
                            <tr>
                                <th scope="row">{{ order.order_number}}</th>
                                <td>{{ order.full_name }}</td>
                                <td>€ {{ order.order_total }}</td>
                                <td>{{ order.created_at | date:"M d, Y" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock content %}