{% extends 'base.html' %}
{% load static %}
{% block head_title %}404 - Page Not Found{% endblock head_title %}

{% block content %}
<div class="wrapper">
    <div class="account-card">
        <h2>404 - Page Not Found</h2>
        <br>
        <br>
        <h3>Oops!</h3>
        <br>
        <p>The page you're looking for seems to be missing or may have been moved.</p>
        <br>
        <p>Click the button below to be redirected to our home page.</p>
        <div class="center">
            <a href="{% url 'homepage' %}" class="btn btn-add error-btn custom-pointer">HOME</a>
        </div>
    </div>
</div>
{% endblock content %}