{% extends 'base.html' %}
{% load static %}
{% block head_title %}Contact Page{% endblock head_title %}
{% block content %}
<div class="wrapper">
    <!-- Page Heading -->
    <section class="page-heading">
        <h2 class="subheading">Contact Us</h2>
    </section>
    <!-- Contact Section -->
    <div class="contact-wrapper">
        <div class="contact-form">
            <!-- Contact Form -->
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {% comment %}Full name and email field are prefilled if user is registred and logged in{% endcomment %}
                <input type="text" id="full_name" name="full_name" placeholder="Full Name *" value="{% if request.user.is_authenticated %}{{ request.user.full_name }}{% endif %}" required>
                <input type="email" id="email" name="email" placeholder="Email *" value="{% if request.user.is_authenticated %}{{ request.user.email }}{% endif %}" required>
                <input type="text" id="subject" name="subject" placeholder="Subject *" required>
                <textarea id="message" name="message" rows="10" placeholder="Your message..." required></textarea>
                <button type="submit" class="btn btn-checkout custom-pointer">Send Message</button>
            </form>
        </div>
        <!-- Store Address Informations -->
        <aside class="address-page">
            <h3>Visit Us</h3>
            <br>
            <address>
                Sun&Peaches Jewelry Store<br>
                123 Sparkle Street<br>
                Gemstone City<br>
                Luxuria 98765<br>
                Phone: (555) 123-4567
            </address>
            <img src="{% static 'images/antarctica.svg' %}" alt="Location of the store">
        </aside>
    </div>
</div>
{% endblock content %}